<!-- Content Row -->
<div class="row" >
    <!-- Sidebar Column -->
    <div class="col-md-3">
        {% include custom/conditions.html %}

        <ul id="mysidebar" class="nav" >
            <a class="brand" href="/">
                <img class="sidebar-logo" src="{{ site.baseurl }}{{site.footer_image_location}}" alt="EXP Docs Logo">
            </a>
            <!-- <span class="versionTagline">{{site.sidebar_version}}</span> -->
            {% for entry in site.data.sidebar.entries %}
            {% for subcat in entry.subcategories %}
                <li>
                    <a href="#">{{ subcat.title }}</a>
                    <ul>
                    {% for item in subcat.items %}
                        <li class="thirdlevel"><a href="#">{{ item.title }}</a>
                            <ul>
                            {% for third in item.thirdlevel %}
                                {% if third.output contains "web" %}
                                {% if third.external_url %}
                                <li><a href="{{third.external_url}}" target="_blank">{{third.title}}</a></li>
                                {% elsif page.url == third.url %}
                                <li class="active"><a href="{{site.baseurl}}{{third.url }}">{{third.title}}</a></li>
                                {% else %}
                                <li><a href="{{site.baseurl}}{{third.url }}">{{third.title}}</a></li>
                                {% endif %}
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            {% endfor %}
        </ul>

        <!-- if you aren't using the accordion, uncomment this block: -->
<!--          <p class="external">
             <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
         </p> -->

    </div>
    <!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside main.js, the script runs before the sidebar code runs and the class never gets inserted.-->
    <script>

        $(document).ready(function() {
            // Initialize navgoco with default options
            $("li.active").parents('li').toggleClass("active");

            $("#mysidebar").navgoco({
                caretHtml: '',
                accordion: false,
                openClass: 'active', // open
                save: false, // leave false or nav highlighting doesn't work right
                cookie: {
                    name: 'navgoco',
                    expires: false,
                    path: '/'
                },
                slide: {
                    duration: 200,
                    easing: 'swing'
                }
            });

            $("#collapseAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', false);
            });

            $("#expandAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', true);
            });

            if (!$("li.active").length) $('#mysidebar').navgoco('toggle', true);
        });

    </script>
